doctype html
html
    head
        meta(charset='utf-8')
        script(type='module' src='todo.js')
        script(defer src='DOMEvents.js')
        link(rel='stylesheet' href='todo.css')
    body
        main
            .controls
                .button#add Добавить
            .todo
                span ПОкрасить крышу
                span Сделано
                span.icon(data-action='delete') X
            .todo
                span ПОкрасить крышу
                span Сделано
                span.icon(data-action='delete') X
            .todo
                span ПОкрасить крышу
                span Сделано
                span.icon(data-action='delete') X

